.App {
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
}
html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  height: 100%;
}
h1 {
  font-size: 2.6em;
  font-family: 'Baloo Chettan', cursive;
  margin: 10px 0 0 15px;
  z-index: 10;
}
h3 {
    font-size: 1.25em;
  }
a:link h1 {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
a:hover h1 {
  list-style-type: none;
  text-decoration: none;
  color: white;
  transform: scale(1.005);
  text-shadow: 2px 3px 4px #000;
}
li {
  list-style-type: none;
  list-style-position: outside;
  margin: 0 auto;
}
nav {
  background-color: rgba(15, 15, 88, 0.678);
  margin: 0 auto;
  position: absolute;
  top: 0;
  padding: 15px;
  height: 95px;
  z-index: 100;
}
#dropdown-container {
  width: 40%;
  position: absolute;
  top: 135px;
  right: 0px;
  color: white;
}
#dropdown-menu-style {
  font-size: 1.1em;
  width: 90% !important;
  background-color: rgba(40, 40, 117, 0.932);
  color: white;
  box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  transition: all 0.5s ease;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  border-radius: 5px 20px 5px;
}
#dropdown-toggle-style {
  border-radius: 5px 20px 5px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: rgb(129, 216, 216);
  color: white;
  text-shadow: 1px 1px 1px rgb(51, 50, 50); 
  font-weight: 900;
  padding-bottom: 10px;
}
#dropdown-toggle-style:hover {
  animation: flash 1.5s forwards; 
}
@keyframes flash {
  0% {
    background-color: white;
    border-radius: 5px 20px 5px;
  }
  100% {
    background-color: rgba(62, 62, 151, 0.521);
    color: white;
    text-shadow: 1px 2px 3px rgb(78, 78, 78); 
    border-radius: 20px/0px;
  }
}
.dropdown-item {
  color: white; 
  font-size: 0.9em;
  text-align: center;
  font-weight: 600;
  /* background-color: rgba(236, 234, 234, 0.692); */
}
.dropdown-item:hover {
  background-color: rgb(129, 216, 216); 
  color: white;
  transition: all 0.5s ease;
  transition: background-color 0.5s ease-in;
  transform: scale(1.005);
  text-shadow: 2px 2px 2px #000;
  font-size: 1.05em;
  /* box-shadow: gray 1px 1px 1px; */
}
.landing-text-container {
  background-color: rgba(29, 71, 78, 0.63);
  position: absolute;
  left: 110px;
  top: 50vh;
  width: 30%;
  z-index: 6;
  animation: modalFadeIn 3s forwards;
}
@keyframes modalFadeIn {
  0% {opacity: 0;}
  10% {opacity: 0.10;}
  15% {opacity: 0.15;}
  25% {opacity: 0.25;}
  35% {opacity: 0.35;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  75% {opacity: 0.75;}
  85% {opacity: 0.85;}
  100% {opacity: 1;}
}
.landing-text {
  margin: 0 auto;
  font-size: 2em;
  color: white;
  padding: 45px;
}
.show {
  width: 80%;
  margin: 0 auto;
}
.landing-pg-img {
  width: 100%;
  /* position: absolute;
  top: 0; */
  z-index: 3;
  margin: 0;
}
.main-div {
  background: linear-gradient(to right bottom, rgb(239, 250, 248), transparent), url('http://localhost:3000/trianglify.png');
  height: 100vh;
}
.main-txt-container {
  z-index: 5;
}
.main-view-container {
  width: 100%;
  margin: 0;
  background-size: cover;
  min-height: 100vh;
}
.main-view-text-box {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  left: 50px;
  padding: 20px;
  font-size: 1.1em;
  color: black;
  overflow: auto;
  z-index: 10;
}
#main-content {
  padding: 20px;
  margin-top: 220px;
  margin-left: 0px;
  background-color: white;
  border: rgb(226, 226, 226) 1px solid;  
  border-radius: 5px 20px 5px;
  box-shadow: black 1px 1px 1px;
  overflow: auto;
  max-height: 560px;
}
.main-h1s {
  font-size: 2.0em;
  font-family: 'Baloo Chettan', cursive;
  color: rgb(146, 241, 241);
  float: left;
  margin: 110px 120px 40px 15px;
  text-shadow: 1px 1px 1px rgb(34, 34, 34); 
}
.list-h2s {
  font-size: 2.0em;
  font-family: 'Baloo Chettan', cursive;
  color: rgb(45, 56, 56);
  float: left;
  margin: 110px 120px 40px 30px;
  text-shadow: 1px 1px 1px rgb(221, 219, 219);
}
a:link .main-view-text-box {
  color: black;
}
.list-item-container {
  max-height: 600px;
  position: absolute;
  top: 200px;
  left: 10vw;
  overflow: auto;
  width: 70%;
  background-color: white;
  box-shadow: rgb(143, 141, 141) 1px 1px 1px 1px;
  text-align: center;
  border-radius: 5px 20px 5px;
}
.list-item  {
  width: 65%;
  background-color: white;
  margin: 0 auto;
  font-size: 1.1em;
  list-style-type: none;
  text-decoration: none;
  padding: 10px 0 0 20px;
  color: black;
  transition: all 0.5s ease;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.list-item:hover  {
  background-color: rgba(62, 62, 151, 0.24);
  color: white;
}
a.list-item:hover  {
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1180px) {
  .main-view-container {
    max-height: 400px;
  }
  #main-content {
    /* padding: 20px;
    margin-top: 55px;
    margin-left: 0px; */
    max-height: 300px;
  }
}
@media only screen and (max-width: 1050px) {
  .main-view-container {
    max-height: 350px;
  }
  #main-content {
    max-height: 255px;
  }
}
@media only screen and (max-width: 900px) {
 .landing-text-container {
    position: absolute;
    left: 110px;
    top: 45vh;
    width: 150px;
    height: 150px;
    z-index: 6;
    animation: modalFadeIn 3s forwards;
  }
  .landing-text {
    font-size: 1.2em;
    padding: 10px;
    margin-top: 10px;
  }
  .main-view-text-box {
    font-size: 0.8em;
  }
  .main-h1s {
    position: absolute;
    top: 25px;
    left: 15px;
    font-size: 1.3em;
    margin: 30px 0px 20px 10px;
  }
  #main-content {
    padding: 20px;
    margin-top: 55px;
    margin-left: 0px;
    max-height: 300px;
    font-size: 1em;
  }
  #dropdown-toggle-style {
    position: absolute;
    top: 30px;
    right: 10px;
    padding-bottom: 5px;
  }
  #dropdown-container {
    width: 20%;
    position: absolute;
    top: 65px;
    right: 0px;
    color: white;
  }
  #dropdown-menu-style {
    font-size: 0.9em;
    width: 50% !important;
  }
  h3 {
    font-size: 1em;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 1.9em;
  }
  .dropdown-item {
    font-size: 0.7em;
  }
  .landing-text-container {
    position: absolute;
    left: 100px;
    top: 40vh;
    width: 350px;
    height: 80px;
    z-index: 6;
    animation: modalFadeIn 3s forwards;
  }
  #main-content {
    padding: 20px;
    margin-top: 55px;
    margin-left: 0px;
    max-height: 200px;
  }
}
@media only screen and (max-width: 500px) {
  #main-content {
    padding: 20px;
    margin-top: 55px;
    margin-left: 0px;
    max-height: 100px;
  }
  .landing-text-container {
    position: absolute;
    left: 50px;
    top: 20vh;
    width: 30%;
    z-index: 6;
    height: 100px;
  }
  .landing-text {
    margin: 0 auto;
    font-size: 0.7em;
    color: white;
    padding: 20px;
  }
}
#footer {
  margin: 0 auto;
  background-color: rgba(15, 15, 88, 0.678);
  color: white;
  z-index: 4;
  padding: 40px 0 40px 25px;
}